<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" data-ng-controller="HeaderController" id="menubar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll nav-text" href="/#!/">
                <img id="nav-image" src="/modules/core/img/brand/logo.png" />Janus</a>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll nav-text" href="/#!/photos"><i class="fa fa-picture-o fa-lg nav-text"></i> View</a>
                </li>
                <li id="modal-menu-item nav-text upload-menu-item" style="
    margin-top: -15px;
">
                <!-- Modal -->
                <div ng-controller="userNotSignedInModal" class="menu-button" id="newPhotoNotSignedIn">			
      			      <script type="text/ng-template" id="upload-modal.html">
                    <div class="container" id="modal-upload-content">
        <h2 id="upload-photo-title-modal">Upload a Photo</h2>
        <h4>To go into the running to win awesome prizes!</h4>
        <hr class="star-primary"></hr>
        <form enctype="multipart/form-data" method="post" action="/fileupload">
                <div class="row">
                      <label for="fileToUpload"><h5>Find a great photo to upload</h5></label><br>
                      <input type="file" name="filesToUpload[]" id="filesToUpload" accept="image/*"/>
                      <output id="filesInfo"></output>
                    </div>
                <div class="row" id="upload-step3">
                    <label id="upload-label-modal"><h5>Upload your photo!</h5></label><br>
                <!-- <paper-button label="Upload" value="submit" ></paper-button>
                <input type="submit" value="Upload"/> -->
                <button value="submit" class="btn btn-lg btn-default"><i class="fa fa-cloud-upload"></i></button> <label>Upload!</label>
                    </div>

        </form>

    </div>
                    <script>
                        function fileSelect(evt) {
                            var files = evt.target.files;
                            var result = '';
                            var file;
                            for (var i = 0; file = files[i]; i++) {
                                result += '<li>' + file.name + ' ' + file.size + ' bytes</li>';
                            }
                            document.getElementById('filesInfo').innerHTML = '<ul>' + result + '</ul>';
                        }
                        document.getElementById('filesToUpload').addEventListener('change', fileSelect, false);
                    </script>
                </script>
                <div class="wrapper-2">
                    <a class="page-scroll nav-text" ng-click="openUploadModal('lg')"><i class="fa fa-camera-retro fa-lg nav-text"></i> Upload</a>
                </div>
                </div>
    <!-- Upload photo controller -->

    <div ng-controller="UploadController">
        <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header" >
            <h3 class="modal-title"> Im a modal! </h3>
        </div >
        <div class="modal-body">Hello </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button >
            <button class="btn btn-warning" ng-click="cancel()"> Cancel </button>
        </div >
        </script>
    </div>
<!--                    <a class="page-scroll nav-text" href="/#!/photos/create"><i class="fa fa-camera-retro fa-lg nav-text"></i> Upload</a>-->
                </li>
     
                <li data-ng-hide="authentication.user">
                    <div ng-controller="userNotSignedInModal" class="menu-button" id="newPhotoNotSignedIn">
                    <script type="text/ng-template" id="user-not-signed-in.html">
                            <h3 id="modal-title"> Sign up or sign in to post!</h3>
                             <div class="border-row">
                                <div class="box-content left">
                                    <section class="row" data-ng-controller="AuthenticationController">
                                        <h3 class="modal-text">Don't have an account?</h3>
                                        <form id="signinform-modal"
                                            name = "userForm"
                                            data-ng-submit = "signup()"
                                            class = "signin form-horizontal"
                                            novalidate autocomplete="off">
                                            <fieldset id="modal-fields">
                                            <div class="form-group">
                                                <label for="firstName"> First Name </label>
<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
                                            </div>
                                            <div class = "form-group" >
                                                <label for = "lastName"> Last Name </label>
<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email"> Email </label>
<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="username"> Username </label>
<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <label for="password"> Password </label>
<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                                            </div>
                                            <div class="text-center form-group">
                                                <button type="submit" class = "btn btn-large btn-primary"> Sign up </button>
                                            </div>
                                            <div data-ng-show="error" class="text-center text-danger">
                                                <strong data-ng-bind="error" > </strong>
                                            </div>
                                            </fieldset>
                                        </form>
                                    </section>
                                </div>
                                
    <div class="box-content right" id="right-modal-content">
        <section class="row" data-ng-controller="AuthenticationController">
        <h3 class="modal-text"> Already have an account ? <br> Just sign in below </h3>
        <h4 class="modal-text">Or sign in through facebook</h4>
        <a href = "/auth/facebook" class = "undecorated-link">
            <img src = "/modules/users/img/buttons/facebook.png" id = "new-photo-fb-icon" >
        </a>
            <form data-ng-submit="signin()"
                class="signin form-horizontal"
                autocomplete="off"
                id="signinform">
                <fieldset>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type = "text"
                            id = "username"
                            name = "username"
                            class = "form-control"
                            data-ng-model = "credentials.username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type = "password"
                            id = "password"
                            name = "password"
                            class = "form-control"
                            data-ng-model = "credentials.password"
                            placeholder = "Password">
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-primary" ng-click="ok()">Sign in</button>
                    </div>
                    <div class="forgot-password">
                        <a href="/#!/password/forgot">Forgot your password?</a>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error "></strong>
                    </div>
                </fieldset>
            </form>
        </section>
    </div>
                            </div>
                    </script>
                    <a class="page-scroll nav-text" ng-click="openNotSignedIn('lg')" id="signin-menu-item"><i class="fa fa-sign-in fa-lg nav-text"></i> Sign In</a>
                    </div>

                </li>


<!--                <li id="modal-menu-item nav-text" data-ng-hide="authentication.user">-->
<!--                    <div ng-controller="userNotSignedInModal" class="menu-button" id="newPhotoNotSignedIn">-->
                        <!--script type="text/ng-template" id="user-not-signed-in.html">
                            <h3 id="modal-title"> Sign up or sign in to post!</h3>
                            <div class="border-row">
                                <div class="box-content left">
                                    <section class="row" data-ng-controller="AuthenticationController">
                                        <h3 class="modal-text">Don't have an account?</h3>
                                        <form id="signinform-modal">
                                            name = "userForm"
                                            data - ng - submit = "signup()"
                                            class = "signin form-horizontal"
                                            novalidate autocomplete="off">
                                            <fieldset>
                                            <div class="form-group">
                                                <label for="firstName"> First Name </label>
                                                <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
                                            </div >
                                            <div class = "form-group" >
                                                <label for = "lastName"> Last Name </label>
                                                <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
                                            </div >
                                            <div class="form-group">
                                                <label for="email"> Email </label>
                                                <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="username"> Username </label>
                                                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <label for="password"> Password </label>
                                                <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                                            </div>
                                            <div class="text-center form-group">
                                                <button type="submit" class = "btn btn-large btn-primary" > Sign up < /button>
                                            </div>
                                            <div data-ng-show="error" class="text-center text-danger">
                                                <strong data-ng-bind="error" > < /strong>
                                            </div>
                                            </fieldset>
                                        </form>
                                    </section>
                                </div>
                                <div class="box-content right">
                                    <section class="row" data-ng-controller="AuthenticationController">
                                    <h3 class="modal-text"> Already have an account ? <br> Just sign in below </h3>
                                    <h4 class="modal-text">Or sign in through facebook</h4 >
                                    < a href = "/auth/facebook" class = "undecorated-link" >
                                        < img src = "/modules/users/img/buttons/facebook.png" id = "new-photo-fb-icon" >
                                    < /a>
                                        <form data-ng-submit="signin()"
                                            class="signin form-horizontal"
                                            autocomplete="off"
                                            id="signinform">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label for="username">Username</label >
                                                    < input type = "text"
                                                        id = "username"
                                                        name = "username"
                                                        class = "form-control"
                                                        data-ng-model = "credentials.username" placeholder="Username">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password</label >
                                                    < input type = "password"
                                                        id = "password"
                                                        name = "password"
                                                        class = "form-control"
                                                        data-ng-model = "credentials.password"
                                                        placeholder = "Password" >
                                                </div>
                                                <div class="text-center form-group">
                                                    <button type="submit" class="btn btn-primary" ng-click="ok()">Sign in</button >
                                                </div>
                                                <div class="forgot-password">
                                                    <a href="/#!/password/forgot">Forgot your password?</a>
                                                </div>
                                                <div data-ng-show="error" class="text-center text-danger">
                                                    <strong data-ng-bind="error "></strong>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </script>

                  </script>
                    <a class="page-scroll nav-text" ng-click="openNotSignedIn('lg')" id="signin-menu-item">Sign in</a>
                    </div>
                </li>
                <li class="dropdown" data-ng-show="authentication.user" id="user-dropdown-menu">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					        <span data-ng-bind="authentication.user.displayName" class="menu-item"></span> <b class="menu-item caret"></b>
				        </a>
				        <ul class="dropdown-menu">
					        <li>
						        <a href="/#!/settings/profile">Edit Profile</a>
					        </li>
					        <li>
						        <a href="/#!/settings/accounts">Manage Social Accounts</a>
					        </li>
					        <li data-ng-show="authentication.user.provider === 'local'">
						        <a href="/#!/settings/password">Change Password</a>
					        </li>
					        <li class="divider"></li>
					        <li>
						        <a href="/auth/signout">Signout</a>
					        </li>
				        </ul>
			        </li>
                        <a class="page-scroll nav-text" ng-click="openNotSignedIn('lg')" id="signin-menu-item">Sign in</a>
                    </div>
                </li>
-->
                <li class="dropdown" data-ng-show="authentication.user" id="user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span data-ng-bind="authentication.user.displayName" class="menu-item"></span>  <b class="menu-item caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/#!/settings/profile">Edit Profile</a>
                        </li>
                        <li>
                            <a href="/#!/settings/accounts">Manage Social Accounts</a>
                        </li>
                        <li data-ng-show="authentication.user.provider === 'local'">
                            <a href="/#!/settings/password">Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/auth/signout">Signout</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
