<section data-ng-controller="HomeController" id="homeWrapper">
    <section class="colour" id="topbanner">
        <div class="container">
            <div class="row" id="janus-tutorial" align="center">
                <h4>3 simple steps to get started on your Janus journey</h4>
                <div class="col-sm-4">
                    <a href="/#!/photos/create#upload-head">
                        <img src="images/1upload.png">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/#!/photos">
                        <img src="images/2upvote.png">
                    </a>
                </div>
                <div class="col-sm-4">
                    <img src="images/3prizes.png">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/#!/#section-1" class="btn btn-circle page-scroll" id="landingBtn">
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>
