<section data-ng-controller="AboutController">
  <div class="container" id="topbanner">
	<h2>About us</h2>
	<p class="lead">Janus is an application written by University students.</p>
	<h3>The Janus Philosophy</h3>
	<p>... going on about how our idea came about...</p>
	<h3>Those responsible</h3>
	<p>.. explain various roles etc.</p>
	<ul id="about-list">
	  <li>person</li>
	  <li>person</li>
	  <li>person</li>
	  <li>person</li>
	  <li>person</li>
	</ul>
	</div>
	
</section>
