<section data-ng-controller="SponsorsController" id="title">
	<p class="sponsors-text">Sponsoring with <em>Janus</em> is a unique opportunity for your business.<br><a href="#!/sponsors#link">Interested in becoming a sponsor?</a></p>
	<p class="sponsors-text">The sponsors for the current theme <em>travel</em> are;<p>
	
  <div class="row">
    <div class="sponsor col-xs-6 col-md-6" id="virgin">
      <h3>Virgin Australia</h3>
      <a class="fancybox" href="#virgin-content" rel="group"><img class="img-responsive" src="/modules/static-pages/img/sponsor-banners/virgin.jpg" /></a>
    </div> <!-- virgin -->
    
    <div class="sponsor col-xs-6 col-md-6" id="air-asia">
      <h3>Air Asia</h3>
      <a class="fancybox" href="#airasia-content" rel="group"><img class="img-responsive" id="airasia-img" src="/modules/static-pages/img/sponsor-banners/airasia1.jpg" /></a>
    </div> <!-- air asia -->
  </div> <!-- row -->
  
  <!-- ROW 2: Hilton and Hotels combined -->
  <div class="row">
    <div class="sponsor col-xs-6 col-md-6" id="hilton">
      <h3>Hilton</h3>
      <a class="fancybox" href="#hilton-content" rel="group"><img class="img-responsive" id="hilton-img" src="/modules/static-pages/img/sponsor-banners/hilton2.jpg" /></a>
    </div> <!-- hilton -->
    <div class="sponsor col-xs-6 col-md-6" id="hotels-combined">
      <h3>Hotels Combined</h3>
      <a class="fancybox" href="#hotelscombined-content" rel="group"><img class="img-responsive" src="/modules/static-pages/img/sponsor-banners/hotelsCombined.jpg" /></a>
    </div> <!-- hotels combined -->
  </div> <!-- row -->
  
  <!-- ROW 3: Flight Center and North Face -->
  <div class="row">
    <div class="sponsor col-xs-6 col-md-6" id="flight-center">
      <h3>Flight Center</h3>
      <a class="fancybox" href="#flightcenter-content" rel="group"><img class="img-responsive" id="flightcenter-img" src="/modules/static-pages/img/sponsor-banners/flightcenter1.jpg" /></a>
    </div> <!-- Flight center -->
    <div class="sponsor col-xs-6 col-md-6" id="north-face">
      <h3>North Face</h3>
      <a class="fancybox" href="#northface-content" rel="group"><img class="img-responsive" id="northface-img" src="/modules/static-pages/img/sponsor-banners/northface1.jpg" /></a>
    </div> <!-- north face -->
  </div> <!-- row -->


<div style="display: none">
    <div id="virgin-content" class="container border-row">
      <div class="box-content-sponsor left">
        <h2>Virgin Australia</h2>
        <p class="lead">About the company (inc. company vision), Why they decied to sponsor our app (motivation for sponsoring)</p>
        <h4>Prizes offered</h4>
        <ul>
          <li>Fully paid return flight for 2 to anywhere in Asia. (valued at $2800)</li>
          <li>prize 2</li>
          <li>prize 3</li>
        </ul>
      </div> <!-- box-content-sponsor left -->
      <div class="box-content-sponsor right">
        <img class="img-responsive" src="/modules/static-pages/img/sponsor-banners/virgin1.jpg"/>
      </div> <!-- box-content-sponsor right-->
    </div> <!-- virgin-content -->
    
    <div id="airasia-content" class="container border-row">
      <div class="box-content-sponsor left">
        <h2>Air Asia</h2>
        <p class="lead">loreankj place holder text</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed scelerisque felis. Curabitur cursus molestie condimentum. .</p>
        <h4>Prizes offered</h4>
        <ul>
          <li>prize 1</li>
          <li>prize 2</li>
          <li>prize 3</li>
        </ul>
      </div> <!-- box content left -->
      <div class="box-content-sponsor right">
        <img class="img-responsive" src="/modules/static-pages/img/sponsor-banners/airasia2.png"/>
      </div>
    </div> <!-- airasia-content -->
    
    <div id="hilton-content" class="container border-row">
      <div class="box-content-sponsor left">
        <h2>Hilton hotels</h2>
        <p class="lead">loreankj place holder text</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed scelerisque felis. Curabitur cursus molestie condimentum. .</p>
        <h4>Prizes offered</h4>
        <ul>
          <li>prize 1</li>
          <li>prize 2</li>
          <li>prize 3</li>
        </ul>
      </div> <!-- box content left -->
      <div class="box-content-sponsor right">
        <img class="img-responsive" src="/modules/static-pages/img/sponsor-banners/hilton1.jpg"/>
      </div>
    </div> <!-- hilton content -->
    
    <div id="hotelscombined-content" class="container border-row">
      <div class="box-content-sponsor left">
        <h2>Hotels Combined</h2>
        <p class="lead">loreankj place holder text</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed scelerisque felis. Curabitur cursus molestie condimentum. .</p>
        <h4>Prizes offered</h4>
        <ul>
          <li>prize 1</li>
          <li>prize 2</li>
          <li>prize 3</li>
        </ul>
      </div> <!-- box content left -->
      <div class="box-content-sponsor right">
        <img class="img-responsive" src="/modules/static-pages/img/sponsor-banners/hotelsCombined.jpg"/>
      </div>
    </div> <!-- hotelscombined-content -->
    
    <div id="flightcenter-content" class="container border-row">
      <div class="box-content-sponsor left">
        <h2>Flight Center</h2>
        <p class="lead">loreankj place holder text</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed scelerisque felis. Curabitur cursus molestie condimentum. .</p>
        <h4>Prizes offered</h4>
        <ul>
          <li>prize 1</li>
          <li>prize 2</li>
          <li>prize 3</li>
        </ul>
      </div> <!-- box content left -->
      <div class="box-content-sponsor right">
        <img class="img-responsive" src="/modules/static-pages/img/sponsor-banners/flightcenter2.jpg"/>
      </div>
    </div> <!-- flightcenter-content -->
    
    <div id="northface-content" class="container border-row">
      <div class="box-content-sponsor left">
        <h2>Northface</h2>
        <p class="lead">loreankj place holder text</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed scelerisque felis. Curabitur cursus molestie condimentum. .</p>
        <h4>Prizes offered</h4>
        <ul>
          <li>prize 1</li>
          <li>prize 2</li>
          <li>prize 3</li>
        </ul>
      </div> <!-- box content left -->
      <div class="box-content-sponsor right">
        <img class="img-responsive" src="/modules/static-pages/img/sponsor-banners/northface2.jpg"/>
      </div>
    </div> <!-- northface-content -->
</div>
</section>



<!-- Contact Section -->
<section id="sponsors-contact">
    <div class="container">
        <div class="row">
            <div id="link" class="col-lg-12 text-center">
                <h3>Interested in </h3>
                <h2>Sponsoring the next theme?</h2>
                <h4>Simply fill in the form below</h4>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Contact Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Company Name</label>
                            <input type="text" class="form-control" placeholder="Company Name" id="name" required data-validation-required-message="Please enter your company or brand name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message, please sponsorship details, such as prizes which you plan to offer" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <div ng-controller="AlertDemoCtrl">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <button class='btn btn-default btn-success' ng-click="addAlert()">Send</button>
</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

