.content {
	width: 100%;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
#title {
  margin-top: 200px;
  color: black;
}
.menu-item {
  color: white !important;
}

.menu-bar {
  margin-top: -70px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important; 
}

.right-nav-button {
  padding: 10px;
}

.menu-button {
  margin-top: 10px;
}

.box-content {
    display: inline-block;
    width: 450px;
    
    background-color: white !important;
}

.border-row {
    border-bottom: 1px solid #ccc;
}

.left {
    border-right: 1px solid #ccc;
    padding-left: 140px;
}box

#newPhotoNotSignedIn {
  margin-top: 15px;
  padding-top: 10px;
}

#header {
  height: 40px;
}

.nav-message{
  display: inline-block;
  margin-left: 4px;
  font-size: 24px;
}

#message-lead {
  margin-left:-800px;
}

#welcome-message {
  margin-top: -40px;
}

#message-username {
  color: #cdbfe3;
}
#message-upload {
  color: #18bc9c;
}

#homeWrapper {
	margin-left: -30px;
}

section.colour #landingBtn{
	margin-top: 10px;
	font-size: 48px;
	color: #fff;
	width: 100px;
}

section.white #landingBtn{
	margin-top: 10px;
	font-size: 48px;
	color: #18bc9c;
	width: 100px;
}

body {
  color: black !important;
}

#theme-wrapper {
  text-align: center;
}

.text {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.right {
  width: 400px;
  
}

#signinform-modal {
  padding: 10px;
}

section {
  padding-right: 20px;
}

#modal-title {
  text-align: center;
  padding-top: 5px !important;
}

.modal-text {
  text-align: center;
}

#new-photo-fb-icon {
  padding-left: 135px;
}

#nav-image {
  height: 100%;
  display: inline-block;
  margin: 0px;
}

#sponsors-nav {
  margin-left: 150px;
}

#new-photo-nav {
  margin-left: 65px;
}

#signinform {
  width: 300px;
  padding-left: 60px;
}
#signinorregister {
  padding-top: 9px;
}

#notsignedin {
  padding-top: 5px;
  margin-left: 30px;
}

#nav-buttons {
  margin-left: 70px;
}

#themebanner-img {
  width: 100%;
}

#theme-banner {
  margin-left: -85px;
  margin-right: -73px;
}

#nav-bar {
  background-color: rgb(224,224,224) !important;
}

#modal-menu-item {
  margin-top: 6px !important;
}

#signin-menu-item {
  color: #54A4DE;
}

#signin-menu-item:hover{
  text-decoration: none;
  cursor: pointer;
}

#header-wrapper {
  height: 0px !important;
}

#page-content {
  margin-top: -50px;
}

#signin-menu-item {
  color: white !important;
}

.footer-link {
  color: white !important;
}

#janus-tutorial {
  margin-top: 50px;
}

.nav-text {
  font-size: 14px !important;
  padding-top: 8px !important;
}

#menubar {
  padding: 0px;
  height: 20px;
  background-color: rgba(0,0,0,0.2);
}

#right-modal-content {
  float: none !important;
  height: 458px  !important;
}

#user-dropdown-menu {
  margin-top: -6px !important;
}

#modal-fields {
  width: 80%;
}

#upload-menu-item {
  margin-top: -15px !important;
}

#user-menu {
  margin-top: -6px;
}

#home-buttons {
  margin-top: -60px;
}

#modal-upload-content {
  text-align: center;
  margin-left: -120px;
}

#upload-step3 {
  padding-bottom: 10px;
}

#upload-photo-title-modal {
  font-size: 24px;
  padding-bottom: 5px;
  padding-top: 10px;
}

#upload-label-modal {
  padding-bottom: 5px;
}

a#signin-menu-item {
margin-left: 5px;
padding-left: 5px;
}


.landing-button {
  color: #333 !important;
}

.landing-button:hover {
  color: white !important;
}
