@-webkit-keyframes animate-stripes {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 60px 0
    }
}
@-webkit-keyframes animate-bg {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 60px 0
    }
}
@keyframes animate-bg {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 60px 0
    }
}
::-webkit-input-placeholder {
    color: #71767a
}
::-moz-placeholder {
    color: #71767a
}
nav .main li a {
    letter-spacing: 0.04em
}
body nav.header .search .query {
    margin: 8px 10px 0 0px
}
body#search_index nav.header .search {
    display: none
}
body.v3 .nav_mouseover {
    position: absolute;
    height: 80px;
    top: 0;
    background-color: transparent;
    outline: none;
    width: 100%;
    z-index: 999
}
body.v3 .nav_mouseover.fixed {
    position: fixed;
    top: 0
}
body.v3 .right .manage_photos {
    font-size: 13px
}
body.v3 .right .upload {
    font-size: 13px
}
body.v3 nav.transparent {
    position: absolute;
    top: 0;
    background-color: transparent;
    outline: none;
    padding: 0 3%;
    -webkit-transition: background-color 0.15s ease-in-out, -webkit-box-shadow 0.2s ease-in-out, border 0.3s ease-in-out;
    transition: background-color 0.15s ease-in-out, box-shadow 0.2s ease-in-out, border 0.3s ease-in-out
}
body.v3 nav.transparent.fixed {
    position: fixed;
    top: 0
}
body.v3 nav.transparent .wrapper>ul,
body.v3 nav.transparent .right {
    opacity: 0;
    position: relative;
    top: -10px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out
}
body.v3 nav.transparent.show {
    background-color: #222222;
    border-bottom: 1px solid #111;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
}
body.v3 nav.transparent.show .wrapper>ul,
body.v3 nav.transparent.show .right {
    opacity: 1;
    position: relative;
    top: 0px
}
@media only screen and (max-width: 640px) {
    nav.header .header-wrapper ul.main.left li {
        display: none
    }
    nav.header .header-wrapper ul.main.left li:first-child {
        display: inline-block
    }
    nav.header .header-wrapper .right .search {
        display: none
    }
    body.not_logged_in nav.header.transparent .right {
        display: none
    }
    body.not_logged_in nav.header.transparent .photo_page_nav {
        display: block;
        float: right
    }
    body.not_logged_in nav.header.transparent .photo_page_nav .main li {
        margin-top: 6px
    }
    body.not_logged_in nav.header.transparent .photo_page_nav .main a {
        letter-spacing: 0;
        vertical-align: middle;
        line-height: 24px
    }
}