#title {
  margin-top: 100px;
}

.masonry {
  max-width: 1000px;
}

.masonry .item {
  width:  240px;
  height: 240px;
  float: left;
  /*background: #D26;*/
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.item.w2 { width:  480px; /*backgroud: green;*/}
.item.w3 { width:  360px; /*background: yellow;*/}
.item.w4 { width:  480px; /*background: black; */}

.item.h2 { height: 240px; /*background: red;*/}
.item.h3 { height: 480px; /*background: orange;*/}
.item.h4 { height: 360px; }
/* ============================================================
  GLOBAL
============================================================ */
.effects {

}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 25%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
  text-align: center;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30px;
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-1 .img.hover .overlay {
  opacity: 1;
}
#effect-1 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}

span.glyphicon {
    vertical-align: middle;
    margin-top: -5px;
	margin-left: -4px;
}

/* ===================================
  Others
  ==========================*/
  input.upload_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background-color:#3d94f6;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #337fed;
  display:inline-block;
  color:#ffffff;
  font-family:Arial Black;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:86px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 4px #1570cd;
}input.upload_button:hover {
  background-color:#1e62d0;
}input.upload_button:active {
  position:relative;
  top:1px;
}


.photoThumb{
	margin: 5px;
	width: 250px;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center !important;
	border:1px solid #ccc;
	display: inline-block;
	float:left;
}

.list-group{
	text-align: center;
	margin: 0px 20vw 0px;
}

#list-photo-image {
  margin: 10px;
}

#leaderboard{
  padding: 0px;
  margin-left: -14px;
}

#listphoto-head {
  margin-left: -14px;
  margin-top: 40px;
}

.panel-body:not(.two-col) { padding:0px }
.glyphicon { margin-right:5px; }
.glyphicon-new-window { margin-left:5px; }
.panel-body .radio,.panel-body .checkbox {margin-top: 0px;margin-bottom: 0px;}
.panel-body .list-group {margin-bottom: 0;}
.margin-bottom-none { margin-bottom: 0; }
.panel-body .radio label,.panel-body .checkbox label { display:block; }

#upload-head {
  padding-top: 30px;
}

.tiling-image {
  clip: rect(0px, 400px, 400px, 0px);
}

#photos-tiling-div {
  margin: 0px !important;
  padding-left: 90px;
}

.photo-tile {
  border: none;
  background: none;
}

.photo-tile-link {
  border: none;
  background: none;
}
.photoThumb1{
	margin: 5px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center !important;
	border:1px solid #ccc;
	display: inline-block;
	float:left;
}

.photoThumb2{
	margin: 5px;
	width: 400px;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center !important;
	border:1px solid #ccc;
	display: inline-block;
	float:left;
}

.list-group{
	text-align: center;
}

.grey{
  background-color: #E5E5E5
}

.dark{
  background-color: #252525
}
