<link rel="stylesheet" type="text/css" href="/modules/photos/css/photos.css"/>
<link rel="import" href="/lib/paper-button/paper-button.html">

<link rel="stylesheet" type="text/css" href="/modules/photos/css/upload.css"/>

<section data-ng-controller="PhotosController">

<div class="page-header container" id="upload-head">
    <div class="container">
        <h2>Upload a Photo</h2>
        <h4>To go into the running to win awesome prizes!</h4>
        <hr class="star-primary"></hr>
        <form enctype="multipart/form-data" method="post" action="/fileupload">
                <div class="row">
                      <label for="fileToUpload"><h5>Step 1:</h5> Find a great photo</label><br />
                      <input type="file" name="filesToUpload[]" id="filesToUpload" accept="image/*" />
                      <output id="filesInfo"></output>
                    </div>
                <div class="row">
                    <label><h5>Step 2:</h5> Upload your photo to <em>Janus</em></label><br>
                <!-- <paper-button label="Upload" value="submit" ></paper-button>
                <input type="submit" value="Upload"/> -->
                <button value="submit" class="btn btn-lg btn-default"><i class="fa fa-cloud-upload"></i></button> <label>Upload!</label>
                    </div>
                <div class="row">
                      <h5>Step 3: Too easy!</h5>
            </div>

        </form>

    </div>
</div>
</section>



<script>
    function fileSelect(evt) {
        var files = evt.target.files;

        var result = '';
        var file;
        for (var i = 0; file = files[i]; i++) {
            result += '<li>' + file.name + ' ' + file.size + ' bytes</li>';
        }
        document.getElementById('filesInfo').innerHTML = '<ul>' + result + '</ul>';
    }

    document.getElementById('filesToUpload').addEventListener('change', fileSelect, false);
</script>
<!--
<h2>Upload a new Photo</h2>

<div id="dropbox">
    <span class="message">Drop images here to upload.<i>(they will only be visible to you)</i></span>
</div>


<div ng-controller="MyCtrl">
    <input type="file" ng-file-select="onFileSelect($files)">
    <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
    <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
    <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
        ng-show="dropSupported">drop files here</div>
    <div ng-file-drop-available="dropSupported=true"
        ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
    <button ng-click="upload.abort()">Cancel Upload</button>
</div>
-->
