<link rel="stylesheet" type="text/css" href="/modules/photos/css/photos.css"/>
<section id="title" data-ng-controller="PhotosController" data-ng-init="findOne()">
<div class="page-header">
    <h1>Edit Photo</h1>
</div>
<div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="photo.name" id="name" class="form-control" placeholder="Name" required>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</div>
</section>
