<link rel="stylesheet" type="text/css" href="/modules/photos/css/photos.css" />
<link rel="import" href="/lib/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/lib/paper-button/paper-button.html">

<link rel="stylesheet" type="text/css" href="/modules/photos/css/upload.css" />
<link rel="stylesheet" type="text/css" href="/modules/photos/css/500px.css" />
<link rel="stylesheet" type="text/css" href="/modules/photos/css/500px.1.css" />

<!-- Initialsie FB SDK -->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '959089760783730',
            xfbml: true,
            version: 'v2.1'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Initialise 'Like Button' function -->
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=959089760783730&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!--<div class="grey">-->
<section data-ng-controller="PhotosController" data-ng-init="find()">
    <div class="page-header"></div>
    <header>
        <div class="intro-text">
            <span class="name">The Leaders</span>
            <hr class="star-light">
        </div>
    </header>
    <div class="photo_index">
        <div class="grid center">
            <div class="photos clearfix" >
                <div class="photo" ng-repeat="photo in photos | orderBy: '-votes' | limitTo:4">
                    <div class="buttons">
                        <div class="shares">
                            <a class="action share facebook" id="fb-share" style='text-decoration:none;' type="icon_link" onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=Janus&p[summary]=Show the world you are the most talented photographer&p[url]=www.janus.com.au&p[images][0]=images/First-prize.jpg','sharer','toolbar=0,status=0,width=580,height=325');" href="javascript: void(0)"></a>
                            <a ng-click="upvote(photo)" class="action share pinterest" data-provider="pinterest"></a>
                        </div>
                        <div class="states"></div>
                    </div>
                    <a data-bind="photo_link" href="#!/photos/{{ photo._id }}">
                        <img data-bind="photo_img" src="{{ photo.URL }}">
                    </a>
                    <div class="details" data-bind="details">
                        <div class="inside">
                            <div class="info" data-bind="info">{{ photo.userID }}</div>
                            <div class="rating" data-bind="rating">{{ photo.votes }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <header>
    <div class="intro-text">
        <hr class="star-light">
        <span class="name">Their Prizes</span>
        <hr class="star-light">
    </div>
  </header>
    <div class="photo_index">
        <div class="grid center">
            <div class="photos clearfix" >
                <div class="photo">
                    <div class="buttons">
                        <div class="shares">
                            <a class="action share facebook" id="fb-share" style='text-decoration:none;' type="icon_link" onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=Janus&p[summary]=Show the world you are the most talented photographer&p[url]=www.janus.com.au&p[images][0]=images/First-prize.jpg','sharer','toolbar=0,status=0,width=580,height=325');" href="javascript: void(0)"></a>
                        </div>
                        <div class="states"></div>
                    </div>
                    <img data-bind="photo_img" src="images/First-prize.jpg">
                    <div class="details" data-bind="details">
                        <div class="inside">
                            <div class="info" data-bind="info">A Flight on Virgin Galactic</div>
                            <div class="title" data-bind="title">1st Prize</div>
                        </div>
                    </div>
                </div>
                <div class="photo">
                    <div class="buttons">
                        <div class="shares">
                            <a class="action share facebook" id="fb-share" style='text-decoration:none;' type="icon_link" onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=Janus&p[summary]=Show the world you are the most talented photographer&p[url]=www.janus.com.au&p[images][0]=images/First-prize.jpg','sharer','toolbar=0,status=0,width=580,height=325');" href="javascript: void(0)"></a>
                        </div>
                        <div class="states"></div>
                    </div>
                    <img data-bind="photo_img" src="images/Second_prize.jpg">
                    <div class="details" data-bind="details">
                        <div class="inside">
                            <div class="info" data-bind="info">Flight for 2 to any Virgin Destination</div>
                            <div class="title" data-bind="title">2nd Prize</div>
                        </div>
                    </div>
                </div>
                <div class="photo">
                    <div class="buttons">
                        <div class="shares">
                            <a class="action share facebook" id="fb-share" style='text-decoration:none;' type="icon_link" onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=Janus&p[summary]=Show the world you are the most talented photographer&p[url]=www.janus.com.au&p[images][0]=images/First-prize.jpg','sharer','toolbar=0,status=0,width=580,height=325');" href="javascript: void(0)"></a>
                        </div>
                        <div class="states"></div>
                    </div>
                    <img data-bind="photo_img" src="images/Third_prize.jpg">
                    <div class="details" data-bind="details">
                        <div class="inside">
                            <div class="info" data-bind="info">30% off Virgin Holiday Package</div>
                            <div class="title" data-bind="title">3rd Prize</div>
                        </div>
                    </div>
                </div>
                <div class="photo">
                    <div class="buttons">
                        <div class="shares">
                            <a class="action share facebook" id="fb-share" style='text-decoration:none;' type="icon_link" onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=Janus&p[summary]=Show the world you are the most talented photographer&p[url]=www.janus.com.au&p[images][0]=images/First-prize.jpg','sharer','toolbar=0,status=0,width=580,height=325');" href="javascript: void(0)"></a>
                        </div>
                        <div class="states"></div>
                    </div>
                    <img data-bind="photo_img" src="images/Fourth_prize.jpg">
                    <div class="details" data-bind="details">
                        <div class="inside">
                            <div class="info" data-bind="info">50,000 Virgin Velocity Points</div>
                            <div class="title" data-bind="title">4th Prize</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>

<section id="title" data-ng-controller="PhotosController" data-ng-init="find()">
    <section data-ng-controller="PhotosController" data-ng-init="find()">
        <div class="page-header"></div>
        <header>
            <div class="intro-text">
                <span class="name">The Competitors</span>
                <hr class="star-light">
            </div>
        </header>
        <div class="photo_index">
            <div class="grid clearfix four paginated center">
                <div class="photos clearfix">
                    <div class="rowNoMargin">
                        <div class="photo" ng-repeat="photo in photos">
                            <div class="buttons">
                                <div class="shares">
                                    <a class="action share facebook" id="fb-share" style='text-decoration:none;' type="icon_link" onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=Janus&p[summary]=Show the world you are the most talented photographer&p[url]=www.janus.com.au&p[images][0]=images/First-prize.jpg','sharer','toolbar=0,status=0,width=580,height=325');" href="javascript: void(0)"></a>
                                    <a ng-click="upvote(photo)" class="action share pinterest" data-provider="pinterest">                                       </a>
                                </div>
                                <div class="states"></div>
                            </div>
                            <a data-bind="photo_link" href="#!/photos/{{photo._id}}">
                                <img data-bind="photo_img" src="{{ photo.URL }}">
                            </a>
                            <div class="details" data-bind="details">
                                <div class="inside">
                                    <div class="info" data-bind="info">{{ photo.userID }}</a>
                                    </div>
                                    <div class="rating" data-bind="rating">{{ photo.votes }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- <button ng-click="upvote(photo)" data-ng-show="authentication.user">Upvote</button> -->
        <!-- Modal -->
        <div ng-controller="userNotSignedInModal" class="menu-button" id="newPhotoNotSignedIn">
            <script type="text/ng-template" id="user-not-signed-in.html">
                <h3 id="modal-title"> Sign up or sign in to continue ! </h3>
                <div class="border-row">
<div class="box-content left">
<section class="row" data-ng-controller="AuthenticationController">
<h3 class="modal-text">Don't have an account?</h3>
<form id="signinform-modal"
name = "userForm"
data-ng-submit = "signup()"
class = "signin form-horizontal"
novalidate autocomplete="off">
<fieldset id="modal-fields">
<div class="form-group">
<label for="firstName"> First Name </label>
<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
</div>
<div class = "form-group">
<label for = "lastName"> Last Name </label>
<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
</div>
<div class="form-group">
<label for="email"> Email </label>
<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
</div>
<div class="form-group">
<label for="username"> Username </label>
<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
</div>
<div class="form-group">
<label for="password"> Password </label>
<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
</div>
<div class="text-center form-group">
<button type="submit" class = "btn btn-large btn-primary"> Sign up </button>
</div>
<div data-ng-show="error" class="text-center text-danger">
<strong data-ng-bind="error"> </strong>
</div>
</fieldset>
</form>
</section>
</div>

<div class="box-content right" id="right-modal-content">
<section class="row" data-ng-controller="AuthenticationController">
<h3 class="modal-text"> Already have an account ? <br> Just sign in below </h3>
<h4 class="modal-text">Or sign in through facebook</h4>
<a href = "/auth/facebook" class = "undecorated-link">
<img src = "/modules/users/img/buttons/facebook.png" id = "new-photo-fb-icon">
</a>
<form data-ng-submit="signin()"
class="signin form-horizontal"
autocomplete="off"
id="signinform">
<fieldset>
<div class="form-group">
<label for="username">Username</label>
<input type = "text"
id = "username"
name = "username"
class = "form-control"
data-ng-model = "credentials.username" placeholder="Username">
</div>
<div class="form-group">
<label for="password">Password</label>
<input type = "password"
id = "password"
name = "password"
class = "form-control"
data-ng-model = "credentials.password"
placeholder = "Password">
</div>
<div class="text-center form-group">
<button type="submit" class="btn btn-primary" ng-click="ok()">Sign in</button>
</div>
<div class="forgot-password">
<a href="/#!/password/forgot">Forgot your password?</a>
</div>
<div data-ng-show="error" class="text-center text-danger">
<strong data-ng-bind="error "></strong>
</div>
</fieldset>
</form>
</section>
</div>
</div>
            </script>
            <!-- user not signed in-->
            <!--            <button ng-click="openNotSignedIn('lg')" data-ng-show="!authentication.user">Upvote</button> -->
        </div>

<!--
        <div data-ng-controller="uploadphotoController">
            <script type="text/ng-template" id="upload-photo-modal.html">
                < section data - ng - controller = "PhotosController" >
                    < div id = "upload-head" >
                    < h2 > Upload a Photo < /h2>
                        <h4>To go into the running to win awesome prizes!</h4 >
                    < hr class = "star-primary" > < /hr>
                        <form enctype="multipart/form - data " method="
                post " action=" / fileupload ">
                        <div class="
                row ">
                            <label for="
                fileToUpload "><h5>Step 1:</h5>Find a great photo</label><br/>
                            <input type="
                file " name="
                filesToUpload[]
                " id="
                filesToUpload " accept="
                image
                /*"/>
                            <output id="filesInfo"></output>
                        </div>
                        <div class="row">
                            <label><h5>Step 2:</h5> Upload your photo to <em>Janus</em></label><br>
                            <button value="submit" class="btn btn-lg btn-default"><i class="fa fa-cloud-upload"></i></button> <label>Upload!</label>
                        </div>
                        <div class="row">
                            <h5>Step 3: Share your photo!</h5>
                        </div>
                    </form>
                </div>
            </section>
            <script>
                function fileSelect(evt) {
                    var files = evt.target.files;
                    var result = '';
                    var file;
                    for (var i = 0; file = files[i]; i++) {
                        result += '<li>' + file.name + ' ' + file.size + ' bytes</li>';
                    }
                    document.getElementById('filesInfo').innerHTML = '<ul>' + result + '</ul>';
                }
                document.getElementById('filesToUpload').addEventListener('change', fileSelect, false);
            */
            </script>
            </script>
            <a ng-click="openUploadModal('lg')">Upload a photo</a>
        </div>
-->
        <!-- Upload photo controller -->

<!--
        <div ng-controller="UploadController">
            <script type="text/ng-template" id="myModalContent.html">
                < div class = "modal-header" >
                    < h3 class = "modal-title" > Im a modal! < /h3>
        </div >
                    < div class = "modal-body" > Hello < /div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button >
                    < button class = "btn btn-warning"
                ng - click = "cancel()" > Cancel < /button>
        </div >
            </script>
        </div>
-->
    </section>
</section>
<!--</div>-->
    <script src="/modules/photos/controllers/uploader.client.controller.js"></script>
    <script src="/modules/photos/controllers/collapse.client.controller.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
