<section data-ng-controller="SharephotoController">
<div id="effect-1" class="effects clearfix">
    <div class="img">
        <img src="bowser3.png" alt="">
        <div class="overlay">
            <a href="#" class="expand"><span class="glyphicon glyphicon-heart"></span></a>
            <a class="close-overlay hidden">x</a>
        </div>
    </div>
</section>
