<link rel="stylesheet" type="text/css" href="/modules/photos/css/photos.css" />
<!-- Initialsie FB SDK -->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '959089760783730',
            xfbml: true,
            version: 'v2.1'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Initialise 'Like Button' function -->
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=959089760783730&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<section id="title" data-ng-controller="PhotosController" data-ng-init="findOne()">
    <div class="page-header"></div>
    <div class="photo_show minimal">
        <div class="photo segment">
            <div class="photo_wrap" data-bind="photo_wrap">
                <img src="{{ photo.URL }}" class="the_photo" style="max-height: 650px;">
            </div>
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-width="40"></div>
        </div>
    </div>
</section>
