#title {
  margin-top: 150px;
}

.sponsors-text {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sponsor-info {
  margin-top: 50px;
  color: #2c3e50;
  text-align: center;
}

#sponsors-contact {
  color: #2c3e50;
  margin-top: 100px;
}

#sponsors-link {
  height: 1px;
  margin-top: 80px;
}
p {
  color: #2c3e50;
}

.sponsor {
  text-align: center;
}

#airasia-img {
  margin-left: 180px;
}

#hilton-img {
  margin-left: 190px;
}

#flightcenter-img {
  margin-left: 150px;
}

#northface-img {
  margin-left: 100px;
}

.box-content-sponsor {
    display: inline-block;
    width: 450px;
    padding: 20px;
}

.border-row {
    border-bottom: 1px solid #ccc;
}

.left {
    border-right: 1px solid #ccc;
    padding-left: 140px;
}


#about-list {
  margin-left: 20px;
}

#contact-topbanner {
  padding: 20px;
  margin-top: 50px;
}
