<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Janus</title>

    <!-- Semantic META -->
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">

    <!-- Facebook META -->
    <meta property="fb:app_id" content="{{facebookAppId}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="/img/brand/logo.png">
    <meta property="og:type" content="website">

    <!-- Twitter META -->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:image" content="/img/brand/logo.png">

    <link rel="import" href="/lib/core-ajax/core-ajax.html">

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="grayscale.css" rel="stylesheet">
    
    <!-- Custom fonts-->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">


    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">{% endfor %}

    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="v3 browser_chrome lang_en desktop  fixed_footer not_logged_in" data-router="photos" id="photos_index">
    <header data-ng-include="'modules/core/views/header.client.view.html'"></header>
	 <!-- Intro Header -->
    <header class="intro">
       
    </header>
    <section class="content" id="page-content">
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </section>

    <!--Embedding The User Object-->
    <script type="text/javascript">
        var user = {
            {
                user | json | safe
            }
        };
    </script>
    

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}
    <script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %} {% if process.env.NODE_ENV === 'development' %}
    <!--Livereload script rendered -->
    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

    {% endif %}


    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Doge Corp 2014</p>
        </div>
    </footer>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/classie.js"></script>
    <script src="/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/jqBootstrapValidation.js"></script>
    <script src="/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/grayscale.js"></script>
    <script src="/freelancer.js"></script>

    <!-- Bootstrap UI-->
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!-- Angular File upload -->
    <script type="text/javascript" src="/lib/ng-file-upload-shim/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/ng-file-upload/angular-file-upload.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/jquery.easing.min.js"></script>

    <!-- Modernizr -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

    <!-- Add jQuery library -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Add fancyBox -->
    <script type="text/javascript" src="/lib/fancybox/source/jquery.fancybox.pack.js"></script>

</body>

</html>
